.footer {
  background: $light-gray;
  display: flex;
  justify-content: space-between;
  margin: 30px;
  color: $dark-gray;
}

.fa {
  color: $dark-gray;
  font-size: 25px;
  margin: 10px;
}

.fa-heart {
  color: red;
}

.footer-links .fa:hover {
  color: $darker-gray;
}

