// Define variables for your color scheme

// For example:
$red: #b40a00;
$blue: #469AE0;
$yellow: #FFF200;
$orange: #E67E22;
$green: #32B796;
$gray: rgba(200,200,200,0.8);
$light-gray: #F5F5F5;
$dark-gray: rgba(180,180,180,0.8);
$darker-gray: rgba(170,170,170,1);
$black: rgba(10,10,10,0.9)
